body, header, footer{
    font-family: 'Satoshi', sans-serif;
}

header{
    font-size: 25px;
    margin: 100px;
    position: relative;
    top:0px;
}

h1{
    /* text-align: center; */
    padding: 5px;
}

h1 img{
    width: 30px;
    height:30px;
}

.upper-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.header-right{
    text-align: flex;
}

.menu{
    list-style: none;
    white-space: nowrap;
    max-width: 1200px;
}

.menu-bar li{
    width:30%;
    display: inline-block;
    text-align: center;
}

.menu-bar li a:hover{
    position: relative;
    top:-2px;
}

.search-form{
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    display:flex;
    align-items: right;
    margin-right: -250px;
    border-radius: 15px;

}
.search-form input{
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 0;
    color: lightgreen;
}

.menu-bar, footer{
    background-color: rgb(48, 94, 48);
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    margin: -10px;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
}
a:link{
    color: black;
    text-decoration:none;
}

a:visited{
    color: black;
    text-decoration:none;
}
.menu a:link{
    color: white;
    text-decoration: none;
}
.menu a:visited{
    color: white;
    text-decoration: none;
}

.menu form{
    text-align: middle;
    margin-right: 10px;
  }

.pd-row {
    display: flex;
    margin-top: 80px;
    margin-left: 180px;
    text-align: center;

}

.pd-row img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 20px;
  }

.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
    padding-top: 50px;
    padding-left: 10px;
    text-align: left;
}
h2{
    padding-top: 20px;
    margin-left: 130px;
    position:relative;
    margin-left: 10%;
}
.chosen-music{
    border: 5px solid rgb(75, 95, 69);
    border-radius: 25px;
    padding: 20px;
    width: 30%;
    background-color: rgb(231, 235, 241);
    margin-left: 100px;
}
.profile-posts{
    white-space: nowrap;
    display: block;
}
a:hover{
    text-decoration: underline;
}