a{
    text-decoration: none;
}
.pd-row {
    display: flex;
    margin-top: 120px;
    margin-left: 180px;
    text-align: center;

}

.pd-row img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 50px;
  }

.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
    padding-top: 90px;
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

.banner{
    position: relative;

}
.banner img{
    max-width: 100%;
    max-height: 20%;
}