/* General setting */
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1200px;
}

body, footer{
  font-family: 'Satoshi', sans-serif;
}

.scroll-section{
  margin: 30px;
}

/* Header */

/* nav bar and footer */
footer {
  background-color: rgb(48, 94, 48);
  padding-top: 0.15em;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0.15em;
  text-align: center;
  color: white;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; 
}

/* search bar */
.search-form{
  width: 12em;
  background: rgba(255, 255, 255, 0.1);
  display:flex;
  align-items: right;
  margin-right: 20em;
  border-radius: 1.5em;

}

.search-form input{
  background: transparent;
  flex:1;
  border: 0;
  outline: none;
  padding:0.8em;
  color: rgb(232, 241, 235);
  
}

/* scroll section */
.scroll-section {
  display: flex;
  flex: 1;
}

.scroll-part{
  flex: 1;
  padding: 2.0em;
  height: 100%;
}

.scroll-section aside{
  flex: 2; 
  padding: 1.8em; 
  margin-top: 4em;
  border: 0.3em solid gray;
  border-radius: 2.3em;
  background-color: #f0f2f1;
  height: 100%;
  
}

.scroll-part .posts{
  margin: 0;
}
.random-shi ul,
.friends ul{
  list-style: none;
  padding: 0;
}

/* Design of different links in website */
a{
  text-decoration: none;
}

a:link{
  color: black;
  text-decoration:none;
}

a:visited{
  color: black;
  text-decoration:none;
}
a:hover{
  text-decoration: underline;
}
.discussion-input input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: left;
  text-align: top;
}

button[type="submit"] {
  /* Add styles for the submit button */
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.discussion-input button{
  background-color: rgb(48, 94, 48); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button[type="submit"]:hover{
  position: relative;
  top:-1em;
}

.comments-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.discussion-input input[type="text"],
.discussion-input button[type="submit"] {
  margin-bottom: 10px;
}

textarea{
  width:35.0em;
  height:2.5em;
  resize:none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: left;
  text-align: top;
}

.username{
  font-weight: bold;
  margin-bottom: 0.5em;
}

.comment-section{
  border: 0.1em solid #ccc;
  border-radius: 18px;
  box-sizing: border-box;
  padding: 0.5em;
  width: 70%;
  margin-bottom: 1.0em;

}

.username, .date{
  display: inline-block;
  margin-right: 0.5em;
}

.message{
  display: inline-block;
}

.date{
  font-style: italic;
  text-align: right; 
  font-size: 0.8em;
  margin-left: auto;
}

.delete-form button{
  background-color: rgb(172, 32, 32);
  font-size: 0.8em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top:0.3em;
  padding-bottom:0.3em;
  font-family: 'Satoshi', sans-serif;
}

.message, .delete-form{
  display: inline-block;
  margin-right: 10px;
}
